.root {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #fff;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #d23669;
  line-height: 2.75rem;
  font-weight: 900;
  font-size: 2.5rem;
}

.date {
  color: rgb(55 65 81);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}