.root {
  padding-top: 2rem !important;
  max-width: 60vw !important;
}

.root .title {
  /* color: #000; */
  display: none;
}

.root .date {
  display: none;
}

.root .markdown h2 {
  padding-bottom: 0;
  color: #65696d;
  font-size: 1.5rem;
}

.root .markdown h3 {
  padding-bottom: 1rem;
}
.root .markdown h4 {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 900;
}

.root .markdown blockquote {
  margin-bottom: 1rem;
}


.root .markdown p {
  padding-bottom: 0.5rem;
}

.root .markdown ul li {
  margin-bottom: 0.25rem;
}

.root .markdown a {
  color: rgb(30, 144, 255);
}

/* .myMdx {
  max-width: 80vw !important;
} */
