.root {
  padding-top: 2rem;
  max-width: 60vw;
}

.title {
  /* color: #000; */
  display: none;
}

.date {
  display: none;
}

.markdown h2 {
  padding-bottom: 0;
  color: #65696d;
  font-size: 1.5rem;
}

.markdown h3 {
  padding-bottom: 1rem;
}
.markdown h4 {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 900;
}

.markdown blockquote {
  margin-bottom: 1rem;
}


.markdown p {
  padding-bottom: 0.5rem;
}

.markdown ul li {
  margin-bottom: 0.25rem;
}

.markdown a {
  color: rgb(30, 144, 255);
}