.root {
  height: 100%;
  width: 100%;
  background-color: #eef5e3;
  overflow-y: auto;
  padding: 10vh 10vw;
}

.meTitle {
  font-size: 2rem;
  margin-left: 1rem;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.block {
  border: 1px solid #89d481;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 33vw;
}


.blockTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.contact {
  margin-left: 1rem;
}