.root {
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #fff;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.post {
  /* block scale-100 py-4 hover:scale-[1.005] active:scale-100 */
  display: block;
  scale: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post:hover {
  scale: 1.005
}

.postTitle {
  color: #d23669;
  font-weight: 900;
  font-size: 28px;
  line-height: 42px;
}

.postDate {
  color: rgb(55 65 81);
  font-size: 13px;
}

.postBrief {
  margin-top: 0.25rem;
}